apiVersion: v2
description: kube-prometheus-stack collects Kubernetes manifests, Grafana dashboards, and Prometheus rules combined with documentation and scripts to provide easy to operate end-to-end Kubernetes cluster monitoring with Prometheus using the Prometheus Operator.
icon: https://raw.githubusercontent.com/prometheus/prometheus.github.io/master/assets/prometheus_logo-cb55bb5c346.png
type: application
maintainers:
  - name: andrewgkew
    email: andrew@quadcorps.co.uk
  - name: gianrubio
    email: gianrubio@gmail.com
  - name: gkarthiks
    email: github.gkarthiks@gmail.com
  - name: GMartinez-Sisti
    email: kube-prometheus-stack@sisti.pt
  - name: jkroepke
    email: github@jkroepke.de
  - name: scottrigby
    email: scott@r6by.com
  - name: Xtigyro
    email: miroslav.hadzhiev@gmail.com
  - name: QuentinBisson
    email: quentin.bisson@gmail.com
name: monitoring
sources:
  - https://github.com/prometheus-community/helm-charts
  - https://github.com/prometheus-operator/kube-prometheus
version: 62.4.0-bb.1
appVersion: v0.76.0
kubeVersion: ">=1.19.0-0"
home: https://github.com/prometheus-operator/kube-prometheus
keywords:
  - operator
  - prometheus
  - kube-prometheus
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  "artifacthub.io/license": Apache-2.0
  "artifacthub.io/operator": "true"
  "artifacthub.io/links": |
    - name: Chart Source
      url: https://github.com/prometheus-community/helm-charts
    - name: Upstream Project
      url: https://github.com/prometheus-operator/kube-prometheus
  "bigbang.dev/upstreamReleaseNotesMarkdown": |
    - [Find our upstream chart's CHANGELOG here](https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/README.md#upgrading-chart)
    - [and our upstream application release notes here](https://github.com/prometheus-operator/kube-prometheus/blob/main/CHANGELOG.md)
  bigbang.dev/applicationVersions: |
    - Prometheus: 2.54.1
    - Grafana: 11.1.0
    - Alertmanager: 0.27.0
  # The big-bang/base image being deployed by this chart is dependent on a few different conditions being true
  # cleanUpgrade.enabled, grafana.enabled, prometheusOperator.admissionWebhooks.enabled
  helm.sh/images: |
    - name: alertmanager
      image: registry1.dso.mil/ironbank/opensource/prometheus/alertmanager:v0.27.0
      condition: alertmanager.enabled
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: grafana
      image: registry1.dso.mil/ironbank/big-bang/grafana/grafana-plugins:11.1.0
      condition: grafana.enabled
      dependency: grafana
    - name: init-chown-data
      image: registry1.dso.mil/ironbank/redhat/ubi/ubi9-minimal:9.4
      condition: grafana.initChownData.enabled
    - name: k8s-sidecar
      image: registry1.dso.mil/ironbank/kiwigrid/k8s-sidecar:1.27.2
      condition: grafana.enabled
      dependency: grafana
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.29.6
      condition: prometheusOperator.enabled
    - name: kube-state-metrics
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kube-state-metrics:v2.12.0
      condition: kubeStateMetrics.enabled
      dependency: kube-state-metrics
    - name: kube-webhook-certgen
      image: registry1.dso.mil/ironbank/opensource/ingress-nginx/kube-webhook-certgen:v1.3.0
      condition: prometheusOperator.admissionWebhooks.patch.enabled
    - name: prometheus
      image: registry1.dso.mil/ironbank/opensource/prometheus/prometheus:v2.54.1
      condition: prometheus.enabled
    - name: prometheus-config-reloader
      image: registry1.dso.mil/ironbank/opensource/prometheus-operator/prometheus-config-reloader:v0.75.0
      condition: prometheusOperator.enabled
    - name: prometheus-operator
      image: registry1.dso.mil/ironbank/opensource/prometheus-operator/prometheus-operator:v0.75.0
      condition: prometheusOperator.enabled
    - name: prometheus-node-exporter
      image: registry1.dso.mil/ironbank/opensource/prometheus/node-exporter:v1.8.1
      condition: nodeExporter.enabled
      dependency: prometheus-node-exporter
    - name: prometheus-snmp-exporter
      image: registry1.dso.mil/ironbank/opensource/prometheus/snmp_exporter:v0.26.0
      condition: snmpExporter.enabled
      dependency: prometheus-snmp-exporter
    - name: test-framework
      image: registry1.dso.mil/ironbank/opensource/bats/bats:v1.11.0
      condition: grafana.enabled
      dependency: grafana
    - name: thanos
      image: registry1.dso.mil/ironbank/opensource/thanos/thanos:v0.35.1
      condition: prometheusOperator.enabled
    - name: thanos-ruler
      image: registry1.dso.mil/ironbank/opensource/thanos/thanos:v0.35.1
      condition: thanosRuler.enabled

dependencies:
  - name: crds
    version: "0.0.0"
    condition: crds.enabled
  - name: kube-state-metrics
    version: "5.25.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kubeStateMetrics.enabled
  - name: prometheus-node-exporter
    version: "4.39.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: nodeExporter.enabled
  - name: grafana
    version: "8.5.*"
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
  - name: gluon
    version: "0.5.9"
    repository: oci://registry1.dso.mil/bigbang
  - name: prometheus-windows-exporter
    repository: https://prometheus-community.github.io/helm-charts
    version: "0.5.*"
    condition: windowsMonitoring.enabled
  - name: prometheus-snmp-exporter
    repository: file://./deps/prometheus-snmp-exporter
    version: "5.5.0"
    condition: snmpExporter.enabled
    alias: snmpExporter