{{- if and .Values.networkPolicies.enabled .Values.flux.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-webhook-ingress
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: kube-prometheus-stack-operator
      release: "{{ .Release.Name }}"
  policyTypes:
  - Ingress
  ingress:
  - from:
    - ipBlock:
        cidr: 0.0.0.0/0
    ports:
    - port: 10250
      protocol: TCP
{{- end }}
