{{- if and .Values.upstream.prometheus.prometheusSpec.replicas (gt (int .Values.upstream.prometheus.prometheusSpec.replicas) 1) }}
{{- $meshWorkloadsEnabled := or (dig "sidecar" "enabled" false .Values.istio) (eq .Values.istio.injection "enabled") }}
{{- if and .Values.istio.enabled $meshWorkloadsEnabled (eq .Values.istio.mtls.mode "STRICT") }}
# Allows prometheus to scrape metrics port over cleartext since metrics endpoint does not support TLS
apiVersion: security.istio.io/v1
kind: PeerAuthentication
metadata:
  name: prometheus-exception
  namespace: {{ .Release.Namespace }}
spec:
  mtls:
    mode: {{ .Values.istio.mtls.mode }}
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus
  portLevelMtls:
    "8080":
      mode: PERMISSIVE
    "{{ .Values.upstream.prometheus.service.port }}":
      mode: PERMISSIVE
  {{- if .Values.upstream.prometheus.thanosService.enabled }}
    "{{ .Values.upstream.prometheus.thanosService.httpPort}}":
      mode: PERMISSIVE
  {{- end }}

{{- end }}
{{- end }}
