{{- $meshWorkloadsEnabled := or (dig "sidecar" "enabled" false .Values.istio) (eq .Values.istio.injection "enabled") }}
{{- if and .Values.istio.enabled $meshWorkloadsEnabled (eq .Values.istio.mtls.mode "STRICT") .Values.snmpExporter.enabled }}
# Allows snmp-exporter metrics to be scraped since metrics endpoint does not support TLS
apiVersion: security.istio.io/v1
kind: PeerAuthentication
metadata:
  name: snmp-exporter-exception
  namespace: {{ .Release.Namespace }}
spec:
  mtls:
    mode: {{ .Values.istio.mtls.mode }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ default "prometheus-snmp-exporter" .Values.snmpExporter.nameOverride }}
  portLevelMtls:
    "{{ .Values.snmpExporter.service.port }}":
      mode: PERMISSIVE
{{- end }}
