{{- $meshWorkloadsEnabled := or (dig "sidecar" "enabled" false .Values.istio) (eq .Values.istio.injection "enabled") }}
{{- if and .Values.istio.enabled $meshWorkloadsEnabled (eq .Values.istio.mtls.mode "STRICT") }}
# Allows prometheus to scrape metrics port over cleartext since metrics endpoint does not support TLS
apiVersion: security.istio.io/v1
kind: PeerAuthentication
metadata:
  name: monitoring-webhook-exception
  namespace: {{ .Release.Namespace }}
spec:
  mtls:
    mode: {{ .Values.istio.mtls.mode }}
  selector:
    matchLabels:
      app: kube-prometheus-stack-operator
  portLevelMtls:
    "10250":
      mode: PERMISSIVE
{{- end }}
